---
apiVersion: v1
kind: Secret
metadata:
  name: final-gitops-repository
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ gitops_repo_url | to_json }}
  username: {{ gitops_username | to_json }}
  password: {{ gitops_token | to_json }}
