#cloud-config
users:
  - name: ${ssh_user}
    groups: [sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

disable_root: true
ssh_pwauth: false
package_update: true
packages:
  - ca-certificates
  - curl
  - python3
  - python3-apt
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
